
/* 
    Created on : Dec 23, 2015, 10:17:01 PM
    Author     : minus
*/

.root{
    -fx-focus-color: white;
    -fx-faint-focus-color: white;
    -fx-background-color: white;
    /*    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
        -fx-background-insets: 0,1,4,5,6;*/
    -fx-background-radius: 9,8,5,4,3;
    /*    -fx-padding: 5 5 5 5 ;*/

    -fx-font-family: "Helvetica";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    /*    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) ,
                    1, 0.0 , 0 , 1);*/
}
BorderPane{
    -fx-background-color: white;
    -fx-focus-color: white;
    -fx-faint-focus-color: white;
}

SplitPane{
    -fx-background-color: white;
    -fx-focus-color: white;
    -fx-faint-focus-color: white;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.root  Pane{
    -fx-focus-color: white;
    -fx-faint-focus-color: white;
    -fx-background-color: white;
}

.currently-playing{
    -fx-cursor: crosshair;
    -fx-background-color: red;
}

.time-progress-bar {
    /*-fx-background-radius: 10, 10, 10, 10;*/
    -fx-padding: 0em; 
        
}

.time-progress-bar  .track{
    /*-fx-background-insets: 0;*/
    /*-fx-background-radius: 6, 6, 6, 6;*/
    -fx-padding: 0em; 
}

.time-progress-bar  .bar { 
    /*-fx-background-insets: 30, 30, 30, 30;*/ 
    /*-fx-background-radius: 4, 4, 4, 4;*/
    -fx-padding: 0.35em; 
    -fx-background-color: black;
}