/* 
    Created on : Jan 9, 2016, 12:09:21 PM
    Author     : minus
*/

.progress-bar > .bar {
    /*    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
        );*/
    -fx-background-color: antiquewhite;
    -fx-control-inner-background: transparent;

}

.progress-bar > .track {
    -fx-text-box-border: transparent;

    -fx-control-inner-background: transparent;

}

.progress-indicator .indicator {
    -fx-background-color: transparent ;
}
