/* 
    Created on : Jan 9, 2016, 12:08:37 PM
    Author     : minus
*/

.highlighted-sound{
    -fx-background-size: cover;
    /*-fx-background-color: brown;*/
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(chocolate 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.pointed-sound{
    -fx-background-size: cover;
    /*-fx-background-color: brown;*/
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#00e6ff 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, white 45%, rgba(230,230,230,0) 50%);
    -fx-text-fill: white;
}