/* 
    Created on : Jan 9, 2016, 12:07:56 PM
    Author     : minus
*/

ScrollPane{
    -fx-border-color:derive(gray,80%);
}

/* The main scrollbar CSS class of ListView */
ScrollPane .scroll-bar:horizontal ,
ScrollPane  .scroll-bar:vertical{
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
ScrollPane .increment-button ,ScrollPane .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
}

/* The main scrollbar **track** CSS class  */
ScrollPane .scroll-bar:horizontal .track ,
ScrollPane .scroll-bar:vertical .track{
    -fx-background-color: white;
    -fx-border-color:derive(white,80%);
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
ScrollPane .scroll-bar:horizontal .thumb,
ScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

ScrollPane .scroll-bar:horizontal:hover .track ,
ScrollPane .scroll-bar:horizontal:pressed .track ,
ScrollPane .scroll-bar:vertical:hover .track,
ScrollPane .scroll-bar:vertical:pressed .track{
    //-fx-background-color: derive(#434343,20%);

    -fx-opacity: 0.2;
    -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
ScrollPane .scroll-bar .thumb:hover,
ScrollPane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

ScrollPane .increment-button:hover ,.mylistview .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
    -fx-border-color:derive(gray,80%);	
    -fx-padding:10px;
}