
/* 
    Created on : Dec 11, 2015, 4:03:14 PM
    Author     : minus
*/

.sound-item{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.sound-item:hover {
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}